body {
  margin: 0;
  overflow: hidden;
  background: linear-gradient(to top, #87CEEB, #ffffff);
}

canvas {
  display: block;
}
#startScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #87CEEB, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  z-index: 10;
}

#startScreen input,
#startScreen select,
#startScreen button {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

#startScreen button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
